$font-standard: 1rem;
$font-small: 0.8rem;
$color-lightpink: #fff0f0;
$color-pink: #fb90c0;
$color-darkpink: #ff157e;
$color-lightgray: #dddddd;
$color-gray: #aaaaaa;
$color-darkgray: #6b6b6b;

@font-face {
	font-family: "inter";
	src: url(fonts/inter.ttf) format("truetype-variations");
	font-weight: 1 999;
}

@font-face {
	font-family: retro;
	src: url(fonts/pressstart.ttf);
}

* {
	font-family: retro;
	font-size: $font-small;
	letter-spacing: 3px;
}

#permission {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		background-color: white;
		width: 80%;
		height: 20%;
		border-radius: 5px;
		border: 2px solid black;
		gap: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

#info-dialog {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		background-color: white;
		width: 80%;
		padding: 2rem;
		border-radius: 5px;
		border: 2px solid black;
		gap: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: $font-standard;
		}
	}
}

#background {
	opacity: 40%;
	background-color: $color-lightpink;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 2%;
}

#device {
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: white;
	width: 25%;
}

#bar {
	display: flex;
	width: 100%;
	border: 1px solid $color-gray;
	border-bottom: 0;
	align-items: center;
	padding: 0.25rem 0;

	#cross {
		font-family: inter;
		flex-shrink: 1;
		padding-left: 1rem;
		font-size: 1.5rem;
	}

	#file {
		flex-grow: 1;
		text-align: center;

		span {
			font-family: inter;
			font-variation-settings: "wght" 520;
			font-size: $font-standard;
		}
	}
}

#window {
	width: 100%;
	height: 100%;
	border: 1px solid $color-gray;
	padding: 3%;

	> div {
		background-color: $color-pink;
		background-image: url(images/title.gif);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		align-items: flex-start;
	}
}

#page-title {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;
	gap: 1rem;
}

#logo {
	font-family: retro;
	font-size: 2rem;
	letter-spacing: 4px;
	margin: 0;
	color: white;

	+ p {
		color: white;
		letter-spacing: 1px;
		font-size: $font-standard;
	}
}

.button {
	font-size: $font-standard;
	padding: 0.5rem 1rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	letter-spacing: 1px;
}

.button:hover {
	background-color: $color-darkpink;
	color: white;
}

#page-name {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 1rem 0 1rem;
	gap: 1rem;

	input {
		border: 2px solid black;
		border-radius: 25px;
		outline: none;
		width: 70%;
		padding: 0.5rem 0;
		text-align: center;
		font-size: $font-standard;
	}
}

#page-player {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 1rem 0 1rem;
	gap: 1rem;

	> p {
		color: white;
		letter-spacing: 1px;
		font-size: $font-standard;
	}

	> div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}

.player {
	display: flex;
	align-items: center;
	gap: 1rem;

	.icon {
		width: 25px;
		height: 25px;

		img {
			width: 100%;
		}
	}

	span {
		font-size: $font-standard;
		letter-spacing: 1px;
	}

	span.disabled {
		color: $color-darkgray;
	}
}

#page-chat {
	height: 100%;
	width: 100%;
}

.speaking {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2rem 0 2rem;
	gap: 2rem;
}

.speech {
	width: 100%;
	padding: 1rem 1rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	p,
	span {
		font-size: $font-standard;
		letter-spacing: 1px;
		margin: 0;
	}
}

.invisible {
	color: white !important;
}

#reply,
#reply1 {
	align-self: flex-start;
}

.waiting {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 2rem;
	gap: 1rem;
	overflow-y: scroll;
}

.response {
	width: 100%;
	padding: 1rem 1rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 1rem;

	&:hover {
		background-color: $color-lightgray;
	}

	.icon {
		min-width: 1.5rem;
		max-width: 1.5rem;

		img {
			width: 100%;
		}
	}

	.text {
		p {
			font-size: $font-standard;
			letter-spacing: 1px;
			margin: 0;
		}
	}
}

.response2 {
	width: 100%;
	padding: 1rem 1rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.phrase {
		width: 100%;
		display: flex;
		gap: 1rem;
	}

	.icon {
		min-width: 1.5rem;
		max-width: 1.5rem;

		img {
			width: 100%;
		}
	}

	.text {
		p {
			font-size: $font-standard;
			letter-spacing: 1px;
			margin: 0;
		}
	}

	input {
		border: 2px solid black;
		border-radius: 25px;
		outline: none;
		width: 90%;
		padding: 0.5rem 0;
		text-align: center;
		font-size: $font-standard;
	}
}

.response3 {
	width: 100%;
	padding: 1rem 1rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 1rem;

	&:hover {
		background-color: $color-lightgray;
	}

	.icon {
		min-width: 1.5rem;
		max-width: 1.5rem;

		img {
			width: 100%;
		}
	}

	.text {
		p {
			font-size: $font-standard;
			letter-spacing: 1px;
			margin: 0;
		}
	}
}

#page-win {
	height: 100%;
	width: 100%;
}

.win-screen {
	width: 100%;
	height: 100%;
}

.feedback {
	width: 100%;
	padding: 2rem;
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	p,
	span {
		font-size: $font-standard;
		letter-spacing: 1px;
		margin: 0;
	}

	input {
		border: 2px solid black;
		border-radius: 25px;
		outline: none;
		width: 90%;
		padding: 0.5rem 0;
		text-align: center;
		font-size: $font-standard;
	}
}

#contact {
	margin: 0.5rem 0;
}

#page-end {
	height: 100%;
	width: 100%;
	padding: 1.5rem 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {
	#background {
		padding: 0;
	}
	#device {
		width: 100%;
	}
}
