@font-face {
  font-family: "inter";
  src: url(fonts/inter.ttf) format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: retro;
  src: url(fonts/pressstart.ttf);
}
* {
  font-family: retro;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

#permission {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#permission > div {
  background-color: white;
  width: 80%;
  height: 20%;
  border-radius: 5px;
  border: 2px solid black;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-dialog {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info-dialog > div {
  background-color: white;
  width: 80%;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid black;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#info-dialog > div p {
  font-size: 1rem;
}

#background {
  opacity: 40%;
  background-color: #fff0f0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#device {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: white;
  width: 25%;
}

#bar {
  display: flex;
  width: 100%;
  border: 1px solid #aaaaaa;
  border-bottom: 0;
  align-items: center;
  padding: 0.25rem 0;
}
#bar #cross {
  font-family: inter;
  flex-shrink: 1;
  padding-left: 1rem;
  font-size: 1.5rem;
}
#bar #file {
  flex-grow: 1;
  text-align: center;
}
#bar #file span {
  font-family: inter;
  font-variation-settings: "wght" 520;
  font-size: 1rem;
}

#window {
  width: 100%;
  height: 100%;
  border: 1px solid #aaaaaa;
  padding: 3%;
}
#window > div {
  background-image: url(images/title.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-start;
}

.talking {
  background-image: url(images/chat.gif) !important;
}

#page-title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem 0 1rem;
  gap: 1rem;
}

#logo {
  font-family: retro;
  font-size: 2rem;
  letter-spacing: 4px;
  margin: 0;
  color: white;
}
#logo + p {
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #ff157e;
  color: white;
}

#page-name {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem 0 1rem;
  gap: 1rem;
}
#page-name input {
  border: 2px solid black;
  border-radius: 25px;
  outline: none;
  width: 70%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
}

#page-player {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem 0 1rem;
  gap: 1rem;
}
#page-player > p {
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
}
#page-player > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.player {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player .icon {
  width: 25;
  height: 25px;
}
.player .icon img {
  width: 100%;
}
.player span {
  font-size: 1rem;
  letter-spacing: 1px;
}
.player span.disabled {
  color: #6b6b6b;
}

#page-chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem 0 1rem;
  gap: 1rem;
}

#speech {
  width: 90%;
  padding: 1rem 1rem;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 1px;
}
#speech p,
#speech span {
  font-size: 1rem;
  margin: 0;
}

#invisible {
  color: white !important;
}

@media only screen and (max-width: 600px) {
  #background {
    padding: 0;
  }
  #device {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */